html, body, #root {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card {
	border-radius: 1rem;
}

.footer {
	width: 100vw;
	border-radius: 1rem 1rem 0 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media (max-width: 600px) {
	.card {
		border-radius: 0.5rem;
	}
	.footer {
		font-size: 0.9rem;
		padding: 1rem 0 0.7rem 0;
	}
}
